@import "~materialize-css/sass/materialize";
@import '~lightgallery/scss/lightgallery';

.fade-in {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-delay: 200ms;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Bugfix in Lightgallery: Videos are not shown because this ::before element takes their place
.lg-show .lg-outer .lg-item::before {
  display: none;
}
