@import "~materialize-css/sass/materialize";

.fade-in {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-delay: 200ms;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img.preview {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
