nav a,tr {
  cursor: pointer;
}

td.directory-previews {
  display: grid;
  grid-template: repeat(10, 10px) / repeat(14, 10px);

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: -5px 0px 15px -5px rgba(0, 0, 0, 0.7);
  }
  .image-wrapper:nth-child(1) {
    grid-row: 1 / span 10;
    grid-column: 4 / span 10;
    z-index: 4;
  }
  .image-wrapper:nth-child(2) {
    grid-row: 2 / span 8;
    grid-column: 3 / span 8;
    z-index: 3;
  }
  .image-wrapper:nth-child(3) {
    grid-row: 3 / span 6;
    grid-column: 2 / span 6;
    z-index: 2;
  }
  .image-wrapper:nth-child(4) {
    grid-row: 4 / span 4;
    grid-column: 1 / span 4;
    z-index: 1;
  }
}

td.file-preview img {
  object-fit: cover;
  height: 100px;
  width: 140px;
}
