<div *ngIf="breadcrumbs().length > 0" class="navbar-fixed">
  <nav class="blue-grey darken-2">
    <div class="nav-wrapper">
      <a
        [routerLink]="['/gallery']"
        class="breadcrumb">
        Start
      </a>
      <a
        *ngFor="let crumb of breadcrumbs()"
        (click)="onBreadcrumbClick(crumb)"
        class="breadcrumb">
        {{ crumb }}
      </a>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col s12">
    <table *ngIf="current_path" class="highlight">
      <tbody>
        <tr
          *ngFor="let sub_path of current_sub_paths"
          (click)="onDirectoryClick(sub_path)"
        >
          <td>
            <i class="material-icons">perm_media</i>
          </td>
          <td class="directory-previews">
            <div *ngFor="let preview_image_id of get_preview_images_for_sub_path(current_path.sub_paths[sub_path])"
              class="image-wrapper">
              <img src="/api/images/{{ preview_image_id }}?size=small"
                  class="fade-in" />
            </div>
          </td>
          <td>{{ sub_path }}</td>
          <td>
            {{ getSubPathInfoText(current_path.sub_paths[sub_path]) }}
          </td>
        </tr>
        <tr
          *ngFor="let file of current_path.files"
          (click)="onFileClick(file)"
        >
          <td><i class="material-icons">image</i></td>
          <td class="file-preview">
            <img src="/api/images/{{ file.id }}?size=small" class="fade-in" />
          </td>
          <td>{{ file.file_name }}</td>
          <td>{{ file.effective_date | date:'medium' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="containsSubPaths()" class="fixed-action-btn">
  <a
    (click)="onToggleRecursiveViewClick()"
    class="btn-floating blue-grey darken-2"
  >
    <i class="large material-icons">burst_mode</i>
  </a>
</div>
