<div class="row">
  <div class="col s12">
    
    <table *ngIf="current_path" class="highlight">
      <tbody>
        <tr
        *ngFor="let subPath of current_path.sub_paths | keys"
        (click)="onDirectoryClick(current_path.sub_paths[subPath])"
        >
          <td>
            <i class="material-icons">perm_media</i>
          </td>
          <td class="directory-previews">
            <div *ngFor="let preview_image_id of preview_images(current_path.sub_paths[subPath])"
              class="image-wrapper">
              <img src="/api/images/{{ preview_image_id }}?size=small"
                  class="fade-in" />
            </div>
          </td>
          <td>{{ subPath }}</td>
          <td>
            {{ current_path.sub_paths[subPath].files.length }} files and
            {{ (current_path.sub_paths[subPath].sub_paths | keys).length }} sub folders
          </td>
        </tr>
        <tr
          *ngFor="let file of current_path.files"
          (click)="onFileClick(file)"
        >
          <td>
            <i class="material-icons">file-image-outline</i>
          </td>
          <td class="file-preview">
            <img src="/api/images/{{ file.id }}?size=small" class="fade-in" />
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

</div>
</div>
