@import "../../materialize_variables";

.media {
  display: inline-block;
  background-size: cover;
  cursor: pointer;
  margin-right: 5px;

  .material-icons {
    transform: translate(-50%, -50%);
    color: white;
  }
}

@media #{$medium-and-up} {
  .media {
    height: 200px;
    width: 200px;

    .material-icons {
      margin-top: 100px;
      margin-left: 100px;
      font-size: 100px;
    }
  }
}
@media #{$small-and-down} {
  .media {
    height: 100px;
    width: 100px;

    .material-icons {
      margin-top: 50px;
      margin-left: 50px;
      font-size: 50px;
    }
  }
}
