@import "~materialize-css/sass/materialize";

:host {
  display: flex;
  flex-wrap: wrap;

  position: relative;
  margin-left: 50px;
}

.vertical {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;

  .date {
    position: absolute;
    transform: rotate(-90deg);
    padding: 0 0.5em;
    background: white;
  }

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    background-color: lightgray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    border-bottom: 0;
  }
}

@media #{$medium-and-up} {
  .vertical .date {
    top: 88px;
    left: -20px;
  }
}
@media #{$small-and-down} {
  .vertical .date {
    top: 40px;
    left: -20px;
  }
}

img {
  flex-grow: 0;
}
