:root {
  --bg-color: #073b4c; /* Background */
  --fg-color: #118ab2; /* Foreground */
  --tx-color: #06d6a0; /* Text */
  --hl-color: #ffd166; /* Highlight */
  --dg-color: #ef476f; /* Danger */
}

body {
  padding: 0;
  margin: 0;
  text-align: center;

  background-color: var(--bg-color);
  color: var(--tx-color);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--hl-color);
}

a {
  color: var(--tx-color);
}

.subfolders a {
  display: inline-block;
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--fg-color);
}

.gallery img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

img.max-size {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}
