body {
  padding: 0;
  margin: 0;
  text-align: center;

  background-color: #5e5e5e;
  color: white;
}

.gallery img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

img.max-size {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}
