<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    
    <title>Fotoboek</title>

    {% block more_head %}
    {% endblock more_head %}
  </head>

  <body>
    {% block body %}{% endblock body %}
  </body>
</html>