<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Family Album</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="assets/favicon.png" />
  </head>

  <body>
    <h1>Hello</h1>
    <p>{{ image_count }} Images</p>
    {% for image in images %}
    <img src="/images/{{ image.id }}?size=medium" alt="{{ image.filename }}">
    {% endfor %}
  </body>
</html>