{% extends "base" %}

{% block body %}
  <h1>{{ current_directory_name }}</h1>

  <ul>
    {% for sub_dir in sub_dirs %}
    <li>
      <a href="{{ sub_dir.url }}">{{ sub_dir.name }}</a>
    </li>
    {% endfor %}
  </ul>

  <div class="pswp-gallery pswp-gallery--single-column" id="gallery--simple">
    {% for image_meta in image_metadata %}
    
    {% endfor %}
  </div>
{% endblock body %}