.media-presenter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.7);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
